<div class="h-full flex items-center">
  <div class="flex flex-col items-center gap-y-5 w-full">
    <div class="body-1 text-center">{{- 'sections.cart.empty' | t -}}</div>

    <a href="{{ routes.collections_url }}" class="button-primary w-max">{{ 'general.continue_shopping' | t }}</a>
  </div>
</div>
