<section
  id="MediaGallery-{{ section.id }}"
  role="region"
  class="w-full {% if section.settings.enable_sticky_info %} md:sticky md:top-12 {% endif %}"
  aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
  x-data="product_gallery"
>
  <div
    class="w-full overflow-hidden rounded-[10px] shadow-sm relative"
    x-ref="swiperContainer"
  >
    {%- assign media_count = 0 -%}

    <ul
      class="swiper-wrapper w-full"
      role="list"
    >
      {%- if product.selected_or_first_available_variant.featured_media != null -%}
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
        {%- assign media_count = media_count | plus: 1 -%}
        {%- render 'product-media', media: featured_media, position: media_count -%}
      {%- endif -%}

      {%- for media in product.media -%}
        {%- if media.id == product.selected_or_first_available_variant.featured_media.id -%}
          {%- continue -%}
        {%- endif -%}

        {%- assign media_count = media_count | plus: 1 -%}
        {%- render 'product-media', media: media, position: media_count -%}
      {%- endfor -%}
    </ul>

    {%- if media_count > 1 -%}
      <button
        class="inset-center-y z-[1] left-3 h-7 w-7 bg-white rounded-full flex flex-col justify-center items-center shadow-md"
        x-ref="prev_arrow"
        aria-label="Previous slide"
        aria-disabled="true"
      >
        {%- render 'icon-caret', class: 'w-4 rotate-90' -%}
      </button>

      <button
        class="inset-center-y z-[1] right-3 h-7 w-7 bg-white rounded-full flex flex-col justify-center items-center shadow-md"
        x-ref="next_arrow"
        aria-label="Next slide"
      >
        {%- render 'icon-caret', class: 'w-4 -rotate-90' -%}
      </button>
    {%- endif -%}
  </div>

  <div class="w-full flex justify-center mt-3">
    <div
      class="max-w-max"
      x-ref="pagination"
      style="
        --swiper-pagination-color: #000000;
        --swiper-pagination-bullet-size: 12px;
      "
    ></div>
  </div>
</section>
