@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';
@import 'scss/custom-swiper.scss';

@import 'scss/utilities.scss';
@import 'scss/globals.scss';
@import 'scss/fonts.scss';
@import 'scss/buttons.scss';
@import 'scss/form.scss';
@import 'scss/animations.scss';
@import 'scss/accessibility.scss';
@import 'scss/cart.scss';
@import 'scss/header.scss';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

[x-cloak] {
  display: none !important;
}
